<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign In</title>
    {% include 'root/css.html' %}
</head>
<body>
<div class="container-fluid">
    <div class="sign-in-icon">
        <a href="/dashboard/"><img src="{% static 'images/icons/Logo1.svg' %}" alt="logo"></a>
    </div>
    <div class="row d-flex justify-content-center text-center">
{#        <P style="color: red">{{ error }}</P>#}
        <div class="col-md-4">
            {#    Form#}
            <form novalidate method="post" action="/reset-pass/{{ token }}/" onsubmit=" return resetPassValidation()">
                {% csrf_token %}
                <p class="display-large">Reset Password</p>

{#                <div class="form-floating input-control" id="input-control">#}
{#                    <input type="email" class="form-control " id="signIn_email" name="signIn_email"#}
{#                           placeholder="Email address" required>#}
{#                    <label class="floating-input-placeholder" for="signIn_email">Enter Password<span#}
{#                            style="color:black">*</span></label>#}
{#                    <div class="error"></div>#}
{#                </div>#}

                <div class="form-floating input-control" id="input-control">
                    <input type="password" class="form-control " id="reset_new_password" name="reset_new_password"
                           placeholder="New Password" required>
                    <label class="floating-input-placeholder" for="reset_new_password">New Password</label>
                    <div class="error"></div>
                </div>
                <button type="submit" class="btn mmm-primary-btn body-large mb-3"><span>Submit</span></button>
                <p class="login-sub-text body-medium">Remember your password?
                    <a href="/sign-in/" style="text-decoration: none;"><span class="body-medium"
                            style="color: var(--mmm-primary);">Return to Login</span></a>
                </p>
            </form>
        </div>
    </div>
</div>
{% include 'root/js.html' %}
<script>
    // Check if the parameter is present in the URL
    if (window.location.search.indexOf('error=') > -1) {
        // Remove the parameter from the URL
        let url = window.location.href.split('?')[0];
        window.history.replaceState({}, '', url);
    }
</script>
</body>
</html>
