{% load static %}
{#Filter Area#}
<div class="category-section">
    <div class="row">
        <div class="category-list">
            <ul class="d-flex gap-2 mt-3" style="list-style: none; padding-left: 0;overflow: auto"
                id="phone_category_filter">
                <li id="All_item" class="menu-category activate_1 label-large"
                    onclick="change_filter_1(this.id)">
                    <p>All</p></li>
                {% for filter in menu_details.item_category %}
                    <li id="item_{{ filter.category }}" class="menu-category label-large"
                        onclick="change_filter_1(this.id)">
                        <p>{{ filter.category }}</p></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{#Filter Area end#}
<!-- list view -->
<div class="row view-toggle" id="item_list_view">
    {% include 'user-view/mobile-menu-view/Item/item-list-view.html' %}
</div>

<!-- grid view -->
<div class="row text-start view-toggle close" id="item_grid_view" style="display: grid; justify-items: center">
    {% include 'user-view/mobile-menu-view/Item/item-grid-view.html' %}
</div>
