{% load static %}
<table class="table table-striped table-hover table align-middle item-table">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Menu Name</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr data-href="/items/">
        <th><input class="form-check-input" type="checkbox" value="" id="item1"></th>
        <td><img style="margin-right: 0.5rem;" src="{% static 'images/rice.svg' %}" alt="">Pad Thai</td>
        <td>Very Tasty</td>
        <td>Available</td>
        <td>$18.00</td>
    </tr>
    <tr>
        <th><input class="form-check-input" type="checkbox" value="" id="item1"></th>
        <td><img style="margin-right: 0.5rem;" src="{% static 'images/rice.svg' %}" alt="">Beef Stroganoff</td>
        <td>Not Very Tasty</td>
        <td>Available</td>
        <td>$58.00</td>
    </tr>
    <tr>
        <th><input class="form-check-input" type="checkbox" value="" id="item1"></th>
        <td><img style="margin-right: 0.5rem;" src="{% static 'images/rice.svg' %}" alt="">Chimichanga</td>
        <td>Very Tasty</td>
        <td>Not Available</td>
        <td>$48.00</td>
    </tr>
    <tr>
        <th><input class="form-check-input" type="checkbox" value="" id="item1"></th>
        <td><img style="margin-right: 0.5rem;" src="{% static 'images/rice.svg' %}" alt="">Borscht</td>
        <td>Not Very Tasty</td>
        <td>Available</td>
        <td>$28.00</td>
    </tr>
    <tr>
        <th><input class="form-check-input" type="checkbox" value="" id="item1"></th>
        <td><img style="margin-right: 0.5rem;" src="{% static 'images/rice.svg' %}" alt="">Borscht</td>
        <td>Not Very Tasty</td>
        <td>Available</td>
        <td>$28.00</td>
    </tr>
    </tbody>
</table>
