{% load static %}
<table class="table table-striped table-hover table align-middle item-table mt-3">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col"><span class="body-medium text-muted">Menu Name</span></th>
        <th scope="col"><span class="body-medium text-muted">Description</span></th>
        {#        <th scope="col">Description</th>#}
        <th scope="col"><span class="body-medium text-muted">Status</span></th>
        <th scope="col"><span class="body-medium text-muted" style="white-space: nowrap">Price ({{ localization_info.currency }})</span></th>
        <th scope="col"><span class="body-medium text-muted">Last Updated</span></th>
    </tr>
    </thead>
    <tbody>
    {% for data in  menu_info.group %}
        <tr>
            <th scope="row"><input class="form-check-input" type="checkbox" value="{{ data.id }}" name="menu_combo_delete_button_checkbox"></th>
            <td class="body-large"><img style="width: 25px" src="{% if data.image %}{{ data.image }}{% else %}{% static 'images/foodPlaceholder.png' %}{% endif %}"> {{ data.name }}</td>
            <td class="body-large">{{ data.description }}</td>
            <td class="body-large">{% if data.status == "Available" %}
                Available{% elif data.status == "Not Available" %}Not
                Available{% elif data.status == "Upcoming" %}Upcoming{% else %}Available{% endif %}</td>
            <td class="body-large">{{ data.price }}</td>
        <td style="white-space: nowrap;">{{ data.updated_at }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>
