<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Items</title>
    {% load static %}
    {% include 'root/css.html' %}
</head>
<body style="background-color: var(--background)">
<div class="container-fluid">
    <div class="row">
        <div class=" offset-1 col-3">
            {#Top image#}
            <img class="mt-3" src="{% static 'images/icons/Logo1.svg' %}" alt="">
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        {% include 'items/items_details_update.html' %}
    </div>
</div>

{% include 'root/js.html' %}
</body>
</html>
