{% load static %}

<div class="col-lg-8 col-md-12 mt-5 items-details hide" id="about_us">
    <img class="mt-3 make-my-menu-logo" src="{% static 'images/icons/Logo1.svg' %}" alt="">
    <p class="menu-header-title headline_medium">About Us</p>
    <p class="about-us-text p-3 body-large" style="background: var(--white);">MakeMyMenu is a user-friendly menu maker and listing website designed for restaurant owners
        who want to create dynamic menus at a low cost. Our platform allows users to easily navigate and manage multiple
        branches, as well as view detailed analytics about the total number of QR scans.With MakeMyMenu, restaurant
        owners have access to exclusive menu management tools that help them create menus that are both friendly and
        easy to use. Our platform allows users to create dynamic items, combo, and offer menus, as well as manage
        multiple branch exclusive menus.Our mission is to provide restaurant owners with the tools they need to create
        menus that stand out and drive business. With MakeMyMenu, restaurant owners can create branches and invite
        managers to create new branches with ease.We believe that every restaurant should have access to powerful and
        easy-to-use menu creation tools, regardless of their size or budget. That's why we designed MakeMyMenu to be a
        low-cost, user-friendly solution that helps restaurants of all sizes create menus that customers love.At
        MakeMyMenu, we're committed to helping restaurant owners succeed by providing them with the best possible tools
        and support. We're always working to improve our platform and provide our users with the features and
        functionality they need to succeed.Thank you for choosing MakeMyMenu as your menu creation and management
        platform. We look forward to helping you create menus that drive business and delight your customers.
    </p>
</div>
