{% load static %}

<div class="col-lg-8 col-md-12 mt-5 mmm-faq items-details hide mb-5" id="mmm_faq">
    <img class="mt-3 make-my-menu-logo" src="{% static 'images/icons/Logo1.svg' %}" alt="">
    <p class="menu-header-title headline_medium">Frequently Asked Question</p>
    <p class="about-us-text body-large" style="font-size: 1rem;line-height: 1.1875rem ">At our software company, we're
        passionate about using technology to make life easier for
        businesses and individuals alike.xcd nm d snjakj Our team of experienced developers and designers work
        tirelessly to create innovative, user-friendly solutions that solve real-world nkjsjbcid problems. Whether
        you're looking to streamline your workflow, improve your productivity, or simply save time, we're here to
        help.</p>


    <!--faq accordions-->

    <div class="accordion accordion-flush d-grid gap-3" id="accordionFlushExample">

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <span class="body-large" style="color: var(--primary-text-color)">1. What is MakeMyMenu?</span>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">MakeMyMenu is a menu maker or listing website where users can create dynamic items, combo, offers, and menus. The owner of the restaurant can create branches, invite managers to create new branches, and customize menus.</span>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <span class="body-large" style="color: var(--primary-text-color)">2. How can I create a menu using MakeMyMenu?</span>
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">To create a menu using MakeMyMenu, you need to create an account, select the items you want to add
                        to your menu, and customize the look and feel of your menu.</span>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <span class="body-large"
                          style="color: var(--primary-text-color)">3. Is MakeMyMenu free to use?</span>
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">MakeMyMenu offers a free trial period, but there are subscription fees to use the platform
                        long-term.</span>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    <span class="body-large" style="color: var(--primary-text-color)">4. How do I create an account on MakeMyMenu?</span>
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">To create an account on MakeMyMenu, you need to visit their website and click on the "Sign Up"
                        button. You will then be prompted to enter your email address, name, and password.</span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    <span class="body-large" style="color: var(--primary-text-color)">5. Can I create multiple menus using MakeMyMenu?</span>
                </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">Yes, you can create multiple menus using MakeMyMenu.</span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    <span class="body-large" style="color: var(--primary-text-color)">6. Can I add pictures to my menu items on MakeMyMenu?</span>
                </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">Yes, you can add pictures to your menu items on MakeMyMenu.</span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    <span class="body-large" style="color: var(--primary-text-color)">7. How can I share my menu with customers?</span>
                </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">You can share your menu with customers by sending them the link to your menu or by embedding your
                        menu on your website.</span>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                    <span class="body-large" style="color: var(--primary-text-color)">8. Can I customize the look and feel of my menu using MakeMyMenu?</span>
                </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">Yes, you can customize the look and feel of your menu using MakeMyMenu. You can choose from a range
                    of templates, colors, and fonts.</span>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                    <span class="body-large" style="color: var(--primary-text-color)">9. Can I create combo offers using MakeMyMenu?</span>
                </button>
            </h2>
            <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">Yes, you can create combo offers using MakeMyMenu.</span>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                    <span class="body-large" style="color: var(--primary-text-color)">10. Can I create multiple branches using MakeMyMenu?</span>
                </button>
            </h2>
            <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">Yes, you can create multiple branches using MakeMyMenu.</span>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEleven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseEleven" aria-expanded="false"
                        aria-controls="flush-collapseEleven">
                    <span class="body-large" style="color: var(--primary-text-color)">11. Can I invite other managers to create new branches using MakeMyMenu?</span>
                </button>
            </h2>
            <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">Yes, you can invite other managers to create new branches using MakeMyMenu.</span>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwelve">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwelve" aria-expanded="false"
                        aria-controls="flush-collapseTwelve">
                    <span class="body-large" style="color: var(--primary-text-color)">12. Can I track my sales using MakeMyMenu?</span>
                </button>
            </h2>
            <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">Yes, you can track your sales using MakeMyMenu. The platform provides
                    analytics and reporting tools to help you monitor your sales and revenue.</span>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThirteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThirteen" aria-expanded="false"
                        aria-controls="flush-collapseThirteen">
                    <span class="body-large" style="color: var(--primary-text-color)">13. Can I integrate MakeMyMenu with my POS system?</span>
                </button>
            </h2>
            <div id="flush-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThirteen"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">Yes, you can integrate MakeMyMenu with your POS system.</span>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFourteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFourteen" aria-expanded="false"
                        aria-controls="flush-collapseFourteen">
                    <span class="body-large" style="color: var(--primary-text-color)">14.  How can I update my menu using MakeMyMenu?</span>
                </button>
            </h2>
            <div id="flush-collapseFourteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFourteen"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                   <span class="body-medium secondary-text_color">You can update your menu using MakeMyMenu by logging into your account and making the necessary changes.</span>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFifteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFifteen" aria-expanded="false"
                        aria-controls="flush-collapseFifteen">
                    <span class="body-large" style="color: var(--primary-text-color)">15. Can I offer discounts and promotions using MakeMyMenu?</span>
                </button>
            </h2>
            <div id="flush-collapseFifteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFifteen"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">Yes, you can offer discounts and promotions using MakeMyMenu. You can create
                    coupons and promo codes that customers can use to avail of discounts.</span>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSixteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSixteen" aria-expanded="false"
                        aria-controls="flush-collapseSixteen">
                    <span class="body-large" style="color: var(--primary-text-color)">16. Is there a limit to the number of items I can add to my menu using MakeMyMenu?</span>
                </button>
            </h2>
            <div id="flush-collapseSixteen" class="accordion-collapse collapse" aria-labelledby="flush-headingSixteen"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">There is no limit to the number of items you can add to your menu using
                    MakeMyMenu.</span>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeventeen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSeventeen" aria-expanded="false"
                        aria-controls="flush-collapseSeventeen">
                    <span class="body-large" style="color: var(--primary-text-color)">17. How can I receive customer feedback using MakeMyMenu?</span>
                </button>
            </h2>
            <div id="flush-collapseSeventeen" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingSeventeen"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">You can receive customer feedback using MakeMyMenu by enabling the feedback
                    feature on your menu. Customers can leave comments and ratings on your menu items.</span>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEighteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseEighteen" aria-expanded="false"
                        aria-controls="flush-collapseEighteen">
                    <span class="body-large" style="color: var(--primary-text-color)">18. How can I view analytics for my menu using MakeMyMenu?</span>
                </button>
            </h2>
            <div id="flush-collapseEighteen" class="accordion-collapse collapse" aria-labelledby="flush-headingEighteen"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">You can view analytics for your menu using MakeMyMenu by logging into your
                    account and accessing the reporting tools.</span>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingNineteen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseNineteen" aria-expanded="false"
                        aria-controls="flush-collapseNineteen">
                    <span class="body-large" style="color: var(--primary-text-color)">19. Is MakeMyMenu available in multiple languages?</span>
                </button>
            </h2>
            <div id="flush-collapseNineteen" class="accordion-collapse collapse" aria-labelledby="flush-headingNineteen"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">MakeMyMenu is available in multiple languages, including English, Spanish,
                    French, and German.</span>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwenty">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwenty" aria-expanded="false"
                        aria-controls="flush-collapseTwenty">
                    <span class="body-large" style="color: var(--primary-text-color)">20. What support options are available if I have issues with MakeMyMenu?</span>
                </button>
            </h2>
            <div id="flush-collapseTwenty" class="accordion-collapse collapse" aria-labelledby="flush-headingTwenty"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <hr style="margin: -0.9rem 0 1rem 0; color: var(--border-color) ; border-top: 2px solid; opacity: 1;">
                    <span class="body-medium secondary-text_color">MakeMyMenu offers customer support via email and phone. You can also access
                        their knowledge base and FAQ section for assistance.</span>
                </div>
            </div>
        </div>


    </div>
</div>
