<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Combo-details</title>
    {% load static %}
    {% include 'root/css.html' %}
</head>
<body style="background-color: var(--background)">
<div class="container-fluid">
    <div class="row">
        <div class=" offset-1 col-3">
            {#Top image#}
            <img class="mt-3" src="{% static 'images/icons/Logo1.svg' %}" alt="">
        </div>
    </div>
    <form method="post" action="/combo-details/{{ combo_list.id }}/{{ bid }}/" enctype="multipart/form-data">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-12 items-details" id="add_menu">
                <div class="row mb-3">
                    <div class="col-8">
                        <p class="menu-header-title mb-4" style="margin-bottom: 0;">
                            <a href="/dashboard/" style="all: unset;cursor: pointer;">
                                <img src="{% static 'images/icons/arrow_choto.svg' %}" alt="">
                            </a>
                            <span class="headline_medium" style="color: var(--mmm-primary); padding: 0.5rem;">Group Details</span>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="menu-header-title" style="margin-bottom: 0;text-align: end">
                            <button class="btn mmm-primary-btn" type="submit" style="width: unset;">
                                Save
{#                                <img src="{% static 'images/icons/save-color.svg' %}" alt="">#}
                            </button>
                        </p>
                    </div>
                </div>
                {#Form#}

                {% csrf_token %}
                {#Row 1#}
                <div style="display: flex; justify-content: space-between">
                    <div class="form-floating input-control" id="input-control" style="width: 32%;">
                        <input type="text" class="form-control " id="item_name_update" name="item_name_update"
                               value="{{ combo_list.name }}"
                               placeholder="Combo Name" required>
                        <label class="floating-input-placeholder" for="item_name_update">Combo Name</label>
                        <div class="error"></div>
                    </div>
                    <div class="form-floating input-control" id="input-control" style="width: 32%;">
                        <select type="text" class="form-select" id="item_status" name="item_status"
                                required>
                            {% if combo_list.status == "Available" %}
                                <option value="Available" selected>Available</option>
                                <option value="Not Available">Not Available</option>
                                <option value="Upcoming">Upcoming</option>
                            {% elif combo_list.status == "Not Available" %}
                                <option value="Not Available" selected>Not Available</option>
                                <option value="Available">Available</option>
                                <option value="Upcoming">Upcoming</option>
                            {% elif combo_list.status == None %}
                                <option value="Available" selected>Available</option>
                                <option value="Not Available">Not Available</option>
                                <option value="Upcoming">Upcoming</option>
                            {% else %}
                                <option value="Upcoming" selected>Upcoming</option>
                                <option value="Available">Available</option>
                                <option value="Not Available">Not Available</option>
                            {% endif %}
                        </select>
                        <label class="floating-input-placeholder" for="Status">Status</label>
                        <div class="error"></div>
                    </div>
                    <div class="form-floating input-control" id="input-control" style="width: 32%;">
                        <input type="text" class="form-control" id="item_category_update" name="item_category_update"
                               value="{{ combo_list.category }}"
                               placeholder="Category" required>
                        <label class="floating-input-placeholder" for="item_category_update">Category</label>
                        <div class="error"></div>
                    </div>
                </div>
                {#Row 2#}
                <div class="d-flex justify-content-space-between">
                    <div class="form-floating input-control item-details-price" id="input-control"
                         style="{% if combo_list.discount %}width: 79%;{% else %}width: 86%;{% endif %}">
                        <input type="text" class="form-control " id="item_price_update" name="item_price_update"
                               value="{{ combo_list.price }}"
                               placeholder="Enter Price" required>
                        <label class="floating-input-placeholder" for="item_price_update">Enter Price</label>
                    </div>
                    <div class="text-center d-flex justify-content-space-between m-auto discount-span"
                         style="{% if combo_list.discount %}width: 20%;{% else %}width: 10%;{% endif %}">
                        <span class="login-sub-text d-flex align-items-center"
                              style="white-space: nowrap;"><span>{% if combo_list.discount %}
                            {{ localization_info.currency }}
                            <del>{{ combo_list.price }}</del>{% else %}{% endif %}</span></span>
                        {% if combo_list.discount %}
                            <span style="border-left: 1px solid var(--border-color)"></span>{% endif %}
                        <span class="price headline_medium"
                              style="margin-left: 0.6rem;white-space: nowrap;">{{ localization_info.currency }} <span>{% if combo_list.discount %}
                            {{ combo_list.discount }}{% else %}{{ combo_list.price }}{% endif %}</span></span>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between" class="mt-3">
                    <div class="form-floating input-control" id="input-control" style="width: 100%;">
                        <input type="text" class="form-control " id="item_rate_update" name="item_rate_update"
                               placeholder="Enter your discount rate" value="{{ combo_list.discount }}">
                        <label class="floating-input-placeholder" for="item_rate_update">Enter your discount
                            rate</label>
                        {#                        <div class="error"></div>#}
                    </div>
                </div>

                <div style="display: flex; justify-content: space-between" class="mt-3">
                    <div class="form-floating input-control" id="input-control" style="width: 100%;">
                        <input type="text" class="form-control " id="combo_video_update" name="combo_video_update"
                               placeholder="Youtube Video link" value="{{ combo_list.video_link }}">
                        <label class="floating-input-placeholder" for="combo_video_update">Youtube Video link</label>
                    </div>
                </div>

                {#        Row 4#}
                <div style="display: flex; justify-content: space-between">
                    <div class="form-floating input-control mt-3" id="input-control" style="width: 100%;">
                <textarea type="text" class="form-control " id="item_description_update" name="item_description_update"
                          placeholder="Description" style="height: 7rem">{{ combo_list.description }}</textarea>
                        <label class="floating-input-placeholder" for="item_description_update">Description</label>
                    </div>
                </div>
                <input type="file" id="combo_image_upload_update" style="display:none" accept=".png, .jpg, .jpeg"
                       name="combo_image_upload_update">
                <p style="color: red">{{ error }}</p>

            </div>
            <div class="col-lg-4 col-md-12">
                <div class="row text-center">
                    <P class="menu-header-title title-large" style="margin-top: 9rem;">Combo Image</P>
                </div>
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-10 mb-3">
                        <img id="combo_image_preview" src="
                                {% if combo_list.image %}{{ combo_list.image }}{% else %}{% static 'images/foodPlaceholder.png' %}{% endif %}"
                             alt="" width="225px">
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <button type="button" id="combo_reset_button" class="btn mmm-round-btn float-start body-large" onclick="location.href='/combo-image-remove/{{ combo_list.id }}/{{ bid }}/'"
                                style="transform: none;width: unset; background-color: var(--white)!important;color: var(--mmm-primary)!important;border:1px solid var(--mmm-primary);margin: 0 0.3rem;">
                            Remove
                        </button>
                        <button type="button" class="btn mmm-round-btn float-end body-large"
                                style="transform: none;margin: 0 0.3rem;width: unset;"
                                onclick="document.getElementById('combo_image_upload_update').click()">Replace
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form method="post" action="/combo-details-delete/{{ combo_list.id }}/{{ bid }}/">
        {% csrf_token %}
        <div class="row d-flex justify-content-center my-5">
            <div class="col-lg-6 col-md-12 items-details">
                <div class="row">
                    <div class="col-4">
                        <p class="headline_medium" style="color:var(--mmm-primary);">Items</p>
                    </div>
                    <div class="col-8">
                        <p class="float-end">
                            <span style="cursor: pointer" data-bs-toggle="offcanvas"
                                  data-bs-target="#create_item_canvas"><img
                                    src="{% static 'images/icons/add_choto.svg' %}"></span>
                            <span>
                                <button style="all: unset;cursor: pointer;" type="submit"><img
                                        src="{% static 'images/icons/delete_choto.svg' %}"></button>
                            </span>
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-12"></div>
            {% for data in combo_list.item %}
                <div class="col-lg-6 col-md-12 items-details mt-3">
                    <div class="row d-flex">
                        <div class="col-8 d-flex align-items-center">
                            <input class="form-check-input" type="checkbox"
                                   value="{{ data.id }}" id="menu_item_checkbox_{{ data.id }}"
                                   name="combo_items_checkbox">
                            <img style="margin-left: 0.5rem;width: 40px;" src="{{ data.image }}" alt="">
                            <span class="body-large" style="margin-left: 1rem">{{ data.name }}</span>
                        </div>
                        <div class="col-4">
                            <span class="float-end body-large" style="margin-left: 1rem">{{ data.price }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>
            {% endfor %}
        </div>
    </form>
</div>
{% include 'canvas/item_canvas.html' %}
{% include 'root/js.html' %}
</body>
</html>
