<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Insert_items</title>
    {% include 'root/css.html' %}
</head>
<body>
<div class="container-fluid">
    <div class="sign-in-icon">
        <a href="/dashboard/"><img src="{% static 'images/icons/Logo1.svg' %}" alt="logo"></a>
    </div>
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-4">
            <!-- upload.html -->
            <form method="post" action="/insert-items/" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="user_excel_file">
                <button type="submit">Upload</button>
            </form>

            <!-- result.html -->
{#            <table>#}
{#                <thead>#}
{#                <tr>#}
{#                    <th>Column 1</th>#}
{#                    <th>Column 2</th>#}
{#                    <th>Column 3</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for item in data %}#}
{#                    <tr>#}
{#                        <td>{{ item.column1 }}</td>#}
{#                        <td>{{ item.column2 }}</td>#}
{#                        <td>{{ item.column3 }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
        </div>
    </div>
</div>
{% include 'root/js.html' %}
</body>
</html>